body:hover {
  & .home-main_image-text,
  & .home-main_image-text {
    opacity: 1;
  }
}

.home-main_image {
  font-size: 14px;

  &-container {
    background-image: url("/images/home_page/HomePage.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 60%;
    height: 100%;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    top: 0;
    z-index: -1;
  }

  &-item {
    width: 100%;
  }

  &-text {
    position: absolute;
    top: 50%;
    background-color: #1f1f1e;
    color: #ffffff;
    padding: 20px;
    border-radius: 5px;
    font-size: 20px;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;

    text-align: center;

    opacity: 0;
  }

  &-cover {
    background-color: white;
    mix-blend-mode: hard-light;
    width: 100%;
    height: 100%;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    top: 0;

    &-hole-second {
      background-color: gray;
      position: absolute;
      min-width: 40%;
      min-height: 40%;
      left: 0%;
      top: 15%;
      border-radius: 50%;
      transform: rotate(20deg);
      border-right: 30px solid white;
    }

    &-hole-third {
      position: absolute;
      min-width: 50%;
      min-height: 50%;
      border-radius: 50%;
      top: 15%;
      right: 5%;
      background-color: gray;
      border-left: 30px solid white;
    }

    &-hole-fourth {
      position: absolute;
      min-width: 45%;
      min-height: 45%;
      border-radius: 50%;
      background-color: gray;
      bottom: 0;
      left: 19%;
    }
  }
}
