<div class="offer-main appear-opacity">
  <a href="/pages/decluttering.html" class="offer-main_image-container picture_1">
    <p class="offer-main_image-text">Decluterring</p>
  </a>
  <a href="/pages/premise.html" class="offer-main_image-container picture_2">
    <p class="offer-main_image-text">Profesjonalna Organizacja Przestrzeni</p>
  </a>
  <a href="/pages/metamorphosis.html" class="offer-main_image-container picture_3">
    <p class="offer-main_image-text">Metamorfozy Wnętrz</p>
  </a>
</div>
