.contact-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 5%;
  padding-left: 5%;
  min-height: 100vh;
  text-align: center;
  margin-top: 30px;

  &_image {
    background-image: url("/images/contact_page/contact.jpeg");
    min-width: 45%;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 500px;
  }

  &_title {
    min-width: 100%;
  }

  &_info {
    display: flex;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 5px;
  }

  &_info-wrap {
    border: 1px solid #000000;
    border-radius: 50%;
    padding: 5px;
    margin-right: 20px;

    &:hover:has(.contact-email-icon),
    &:focus:has(.contact-email-icon) {
      cursor: pointer;
      transform: scale(1.1);
    }
  }

  &_info-icon {
    display: inline-block;
    width: 30px;
    height: 30px;

    &.phone {
      background-image: url("/images/contact_page/call.svg");
      background-size: cover;
      background-repeat: no-repeat;
    }

    &.contact-email-icon {
      background-image: url("/images/contact_page/email.svg");
      background-size: cover;
      background-repeat: no-repeat;
    }
  }

  &_info-text {
    line-height: 1.75em;
    text-align: start;
  }

  &_info-form {
    margin-top: 20px;
    padding: 30px;
  }

  &_info-title {
    line-height: 2em;
    font-family: "Reenie Beanie";
  }

  &_info-item {
    margin: 10px;
    text-align: start;
  }

  &_info-contact {
    text-align: start;
  }

  &_button {
    display: flex;
    align-items: start;
    padding: 10px;
    border-radius: 5px;
    background-color: #1f1f1e;
    color: #ffffff;
    margin-left: auto;
    margin-right: auto;

    &:hover,
    &:focus {
      color: #1f1f1e;
      background-color: #ffffff;
    }

    &:active {
      transform: scale(1.1);
    }
  }
}

.form {
  display: flex;
  flex-direction: column;

  &_element-container {
    display: flex;
    margin: 10px;
    width: 100%;
    justify-content: space-between;
  }

  &_element-label {
    margin-left: auto;
    margin-right: 30px;
  }

  &-control {
    width: 50%;
    padding: 5px;

    &:hover,
    &:focus {
      border: 2px solid #baa877;
    }
  }
}
