<div class="about-container">
  <div class="about-container_image part-2 left-slide" loading="lazy"></div>

  <div class="about-container_info-container margin-left right-slide">
    <p class="about-container_info-text">Cześć!</p>
    <p class="about-container_info-text">
      Witam Cię serdecznie na mojej stronie. Mam na imię Urszula i stworzenie studia Połącz Kropki
      rozpoczęło mój nowy etap w życiu. Pragnę dzielić się moją pasją, czyli metamorfozami wnętrz.
      Przeprowadzam zmiany wnętrz od declutteringu, organizacji przestrzeni czy przeprowadzania
      aranżacji wnętrz (od małych zmian po duże remonty).
    </p>
    <p class="about-container_info-text">
      Uważam, że każda przestrzeń ma potencjał sprawnie funkcjonować i świetnie wyglądać. Łączenie
      kropek wnętrzarskich (tak z pozoru proste) porządkuje i organizuje całe przestrzenie ze
      zdumiewającym efektem.
    </p>

    <p class="about-container_info-text">
      Prywatnie jestem żoną najlepszego mężczyzny na świecie oraz mamą dwójki wspaniałych maluchów
    </p>
  </div>
</div>
