<header>
  <div class="page-header">
    <div class="page-header_image-container">
      <a class="page-header_navigation-text" href="/pages/home.html">
        <img src="/images/logo.jpeg" class="page-header_image"
      /></a>
      <p class="mobile-text">Połącz kropki</p>
    </div>
    <ul class="page-header_navigation-container">
      <li class="page-header_navigation-item">
        <a class="page-header_navigation-text" href="/pages/home.html">STRONA GŁÓWNA</a>
      </li>
      <li class="page-header_navigation-item">
        <a class="page-header_navigation-text" href="/pages/offer.html" data-hover>OFERTA</a>
        <div data-model class="page-header_modal-container">
          <ul class="page-header_modal-list">
            <li class="page-header_modal-list-item">
              <a class="page-header-modal-list-link" href="/pages/decluttering.html"
                >Decluttering</a
              >
            </li>
            <li class="page-header_modal-list-item">
              <a class="page-header-modal-list-link" href="/pages/premise.html"
                >Profesjonalna Organizacja Przestrzeni</a
              >
            </li>
            <li class="page-header_modal-list-item">
              <a class="page-header-modal-list-link" href="/pages/metamorphosis.html"
                >Metamorfozy Wnętrz</a
              >
            </li>
          </ul>
        </div>
      </li>
      <li class="page-header_navigation-item">
        <a class="page-header_navigation-text" href="/pages/about.html">O MNIE</a>
      </li>
      <li class="page-header_navigation-item" disabled>
        <a class="page-header_navigation-text">BLOG</a>
      </li>
      <li class="page-header_navigation-item">
        <a class="page-header_navigation-text" href="/pages/contact.html">KONTAKT</a>
      </li>
    </ul>
    <div class="page-header_contact">
      <div class="page-header_contact-container">
        <div class="page-header_contact-item instagram"></div>
      </div>
      <div class="page-header_contact-container">
        <div class="page-header_contact-item facebook"></div>
      </div>
    </div>
  </div>
  <script src="/js/modal.js"></script>
</header>
