.offer-main {
  display: flex;
  min-height: 100vh;
  margin-right: 5%;
  margin-left: 5%;
  align-items: center;
  justify-content: space-between;
  &_image {
    &-text {
      background-color: #1f1f1e;
      color: #ffffff;
      padding: 20px;
      border-radius: 5px;
      font-size: 20px;
    }
    &-container {
      min-height: 50vh;
      width: 30%;
      background-size: cover;
      background-position: center;
      border-radius: 50%;
      background-repeat: no-repeat;
      display: flex;
      align-items: center;
      justify-content: center;
      text-decoration: none;

      &:hover,
      &:focus {
        & p {
          transform: scale(1.1);
        }
      }

      &.picture_1 {
        background-image: url("/images/offer_page/decluttering.jpeg");
      }
      &.picture_2 {
        background-image: url("/images/offer_page/metamorphosis.jpeg");
      }
      &.picture_3 {
        background-image: url("/images/offer_page/Professional-Organization.jpeg");
      }
    }
  }
}
