<div class="decluttering-container bg-color-grey">
  <div class="decluttering-container_image part-2 image" loading="lazy"></div>

  <div class="decluttering-container_info-container margin-left">
    <h3 class="decluttering-container_info-title">DLA KOGO JEST DECLUTTERING</h3>
    <p class="decluttering-container_info-text">
      Usługa declutteringu dedykowana jest dla osób, które:
    </p>
    <ul class="decluttering-container_info-list">
      <li class="decluttering-container_info-item">Pragną uporządkować swoją przestrzeń</li>
      <li class="decluttering-container_info-item">
        Chcą odzyskać przestrzeń do życia, odpoczynku
      </li>
      <li class="decluttering-container_info-item">Pragną pozbyć się bałaganu</li>
      <li class="decluttering-container_info-item">Nie odnajdują się w przestrzeni</li>
      <li class="decluttering-container_info-item">
        Nie chcą poświęcać czasu i energii na poszukiwanie rzeczy
      </li>
      <li class="decluttering-container_info-item">
        Pragną lepiej zorganizować przestrzeń do codziennego życia
      </li>
      <li class="decluttering-container_info-item">
        Nie mają motywacji ani energii do samodzielnego odgracenia przestrzeni
      </li>
      <li class="decluttering-container_info-item">
        Pragną stworzyć komfortową przestrzeń w domu dla siebie i domowników
      </li>
      <li class="decluttering-container_info-item">
        Pragną stworzyć funkcjonalne i harmonijną przestrzeń
      </li>
      <li class="decluttering-container_info-item">
        Chcą odnaleźć równowagę i spokój w swoim życiu
      </li>
      <li class="decluttering-container_info-item">Są w trakcie przeprowadzki</li>
    </ul>
  </div>
</div>
