<div class="decluttering-container">
  <div class="decluttering-container_info-container">
    <div class="dot-container">
      <span class="dot"></span>
      <span class="dot"></span>
      <span class="dot"></span>
      <span class="dot"></span>
      <span class="dot"></span>
      <span class="dot"></span>
      <span class="dot"></span>
      <span class="dot"></span>
      <span class="dot"></span>
      <span class="dot"></span>
      <span class="dot"></span>
      <span class="dot"></span>
      <span class="dot"></span>
      <span class="dot"></span>
      <span class="dot"></span>
    </div>
    <p class="decluttering-container_info-text text-center">
      Usługa declutteringu obejmuje zarówno poszczególne pomieszczenia czy przestrzenie (np. domowe
      biura, garderoby, garaże), jak i całe mieszkania i domy.
    </p>
    <p class="decluttering-container_info-text text-center">
      Pamiętaj, że nie przychodzę do Klientów oceniać jaki mają porządek w domu. Nie oceniam,
      rozumiem. Na swoim przykładzie zobaczyłam jakie pozytywne zmiany może wnieść do życia
      oczyszczona, uporządkowana i dobrze zaaranżowana przestrzeń.
    </p>
    <div class="dot-container">
      <span class="dot"></span>
      <span class="dot"></span>
      <span class="dot"></span>
      <span class="dot"></span>
      <span class="dot"></span>
      <span class="dot"></span>
      <span class="dot"></span>
      <span class="dot"></span>
      <span class="dot"></span>
      <span class="dot"></span>
      <span class="dot"></span>
      <span class="dot"></span>
      <span class="dot"></span>
      <span class="dot"></span>
      <span class="dot"></span>
    </div>
  </div>
</div>
