<div class="decluttering-container">
  <div class="decluttering-container_info-container margin-right left-slide">
    <h3 class="decluttering-container_info-title">CZYM JEST DECLUTTERING</h3>
    <p class="decluttering-container_info-text">
      Decluttering to proces odgracania i porządkowania przestrzeni mieszkalnej.
    </p>
    <p class="decluttering-container_info-text">
      Pomagam Klientom w odpowiedzialnym pozbywaniu się nieużywanych rzeczy. Wspólnie oczyszczamy
      przestrzeń z nadmiaru niepotrzebnych rzeczy i znajdujemy odpowiednie miejsce dla pozostałych.
      Potrafię sprawić, aby przestrzeń stała się bardziej praktyczna i atrakcyjna dla Ciebie i
      Twojej rodziny. Wspólnie możemy odnajdźmy komfort i swobodę w Twojej przestrzeni zamieniając
      chaos w opanowany porządek.
    </p>
  </div>
  <div class="decluttering-container_image image right-slide" loading="lazy"></div>
</div>
