<div class="decluttering-container flex-column bg-color-grey">
  <h3 class="decluttering-container_title margin">Etapy Declutteringu</h3>
  <div class="decluttering-container_info-container space-between margin">
    <div class="decluttering-container_info-section image" loading="lazy">
      <object
        data="../images/decluttering_page/edit_note_black_24dp.svg"
        width="200"
        height="200"
        class="decluttering-container_info-section icon"
      ></object>
      <p>Krok 1: Konsultacja</p>
    </div>
    <div class="decluttering-container_info-section">
      <p class="decluttering-container_info-text">
        Spotkanie konsultacyjne trwa ok. 2 godzin. Poznaję przestrzeń, która wymaga odgracenia,
        identyfikuję wyzwania i problemy z jakimi się mierzysz, wybieramy metodę ogracania
        dopasowaną do Twoich potrzeb, ustalamy skuteczny plan odgracenia przestrzeni.
      </p>
      <p class="decluttering-container_info-text">
        Po spotkaniu otrzymujesz ode mnie raport podsumowujący nasze ustalenia, szczegółową ofertę
        wybranych dla Ciebie usług declutteringu z wyszczególnieniem poszczególnych etapów
        realizacji oraz indywidualnie dobrany poradnik odgracania (z wyszczególnioną najlepszą
        metodą w Twojej sytuacji)
      </p>
      <p class="decluttering-container_info-text">
        Pamiętaj, że spotkanie może być dla Ciebie podstawą do rozpoczęcia samodzielnego
        declutteringu lub stanowi początek naszej współpracy.
      </p>
    </div>
  </div>

  <div class="decluttering-container_info-container space-between margin">
    <div class="decluttering-container_info-section">
      <p class="decluttering-container_info-text">
        W tym miejscu podejmujesz decyzję czy przedstawione propozycje wdrożysz samodzielnie czy
        zdecydujesz się na dalszą współpracę na podstawie przygotowanej szczegółowej oferty
        przygotowanej po spotkaniu konsultacyjnym
      </p>
    </div>
    <div class="decluttering-container_info-section text-center image" loading="lazy">
      <object
        data="../images/decluttering_page/task_alt_black_24dp.svg"
        width="200"
        height="200"
        class="decluttering-container_info-section icon"
      ></object>
      <p>KROK 2: Decluttering</p>
    </div>
  </div>
</div>
