<div class="decluttering-container">
  <table class="decluttering-container_table image" loading="lazy">
    <tr class="decluttering-container_table-row">
      <th class="decluttering-container_table-cell cell-1">Konsultacja</th>
      <th class="decluttering-container_table-cell cell-2">Decluttering</th>
    </tr>
    <tr class="decluttering-container_table-row">
      <td class="decluttering-container_table-cell cell-3">
        500 PLN do 2 godzin konsultacji każda następna rozpoczęta godzina 100 zł
      </td>
      <td class="decluttering-container_table-cell cell-4">
        Cena ustalana indywidualnie *w przypadku podjęcia dalszej współpracy na usługi
        declutteringu, koszt konsultacji zostaje odjęty od kwoty usługi.
      </td>
    </tr>
  </table>
</div>
