<div class="premise-container flex-column bg-color-grey">
  <h3 class="premise-container_title margin">Etapy Profesjonalnej Organizacji Przestrzeni</h3>
  <div class="premise-container_info-container space-between margin">
    <div class="premise-container_info-section">
      <object
        data="../images/decluttering_page/edit_note_black_24dp.svg"
        width="200"
        height="200"
        class="premise-container_info-section icon"
      ></object>
      <p>Krok 1: Konsultacja</p>
    </div>
    <div class="premise-container_info-section">
      <p class="premise-container_info-text">
        Spotkanie konsultacyjne rozpoczynamy od poznania przestrzeni, która wymaga nowej
        organizacji, identyfikuję wyzwania i problemy z jakimi się mierzysz. Wyznaczamy
        najkorzystniejsze miejsca do przechowywania, prezentuje dostępne rozwiązania organizacyjne,
        zbieram pomiary potrzebne do dobrania wyposażenia organizacyjnego.
      </p>
      <p class="premise-container_info-text">
        Po spotkaniu otrzymujesz ode mnie raport podsumowujący nasze ustalenia, szczegółową ofertę
        organizacji przestrzeni z wyszczególnieniem poszczególnych etapów realizacji, przygotowuję
        listę zakupów potrzebnych do wyposażenia organizacyjnego.
      </p>
    </div>
  </div>

  <div class="premise-container_info-container space-between margin">
    <div class="premise-container_info-section">
      <p class="premise-container_info-text">
        W tym miejscu podejmujesz decyzję czy przedstawione propozycje wdrożysz samodzielnie czy
        zdecydujesz się na dalszą współpracę na podstawie przygotowanej szczegółowej oferty
        przygotowanej po spotkaniu konsultacyjnym
      </p>
    </div>
    <div class="premise-container_info-section text-center">
      <object
        data="../images/decluttering_page/task_alt_black_24dp.svg"
        width="200"
        height="200"
        class="premise-container_info-section icon"
      ></object>
      <p>KROK 2: Organizacja przestrzeni</p>
    </div>
  </div>
</div>
