<div class="premise-container">
  <div class="premise-container_info-container margin-right left-slide">
    <h3 class="premise-container_info-title">PROFEJONALNA ORGANIZACJA PRZESTRZENI</h3>
    <p class="premise-container_info-text">
      Dobrze zorganizowany dom to nic innego jak odpowiednie przystosowanie przestrzeni do życia
      codziennego. Jedną z najważniejszych części dobrze zorganizowanej przestrzeni jest miejsce na
      wszystko – bez znaczenia jest, czy rzeczy pozostają na widoku czy są ukryte przed wzrokiem –
      najważniejsze, żeby niczego nie trzeba było szukać.
    </p>
    <p class="premise-container_info-text">
      Pozwól mi przekształcić Twoją przestrzeń i na zawsze wyeliminować wyzwania organizacyjne.
      Dostosowanie i ulepszenie przestrzeni sprawią, że Twoja codzienność będzie prostsza.
    </p>
  </div>
  <div class="premise-container_image right-slide"></div>
</div>
