<div class="premise-container">
  <table class="premise-container_table">
    <tr class="premise-container_table-row">
      <th class="premise-container_table-cell cell-1">Konsultacja</th>
      <th class="premise-container_table-cell cell-2">Profesjonalna organizacja przestrzeni</th>
    </tr>
    <tr class="premise-container_table-row">
      <td class="premise-container_table-cell cell-3">
        1500 PLN*w przypadku podjęcia dalszej współpracy na usługi organizacji przestrzeni, kwota
        konsultacji zostaje wliczona w kwotę usługi.
      </td>
      <td class="premise-container_table-cell cell-4">Cena ustalana indywidualnie</td>
    </tr>
  </table>
</div>
