<div class="metamorphosis-container">
  <div class="metamorphosis-container_info-container margin-right left-slide">
    <p class="metamorphosis-container_info-text">
      Wszyscy lubimy pięknie mieszkać i otaczać się ciekawymi przedmiotami, żyć w funkcjonalnie
      zaprojektowanym wnętrzu.
    </p>
    <p class="metamorphosis-container_info-text">
      Niezależnie od tego, czy szukasz pełnej metamorfozy, czy tylko wykończenia, specjalizuję się w
      dostarczaniu rozwiązań, które pasują do Twojego stylu życia.
    </p>
    <p class="metamorphosis-container_info-text">
      Pomagam Klientom, którzy chcą dopasować wnętrze do swoich preferencji. Osobom, które pragną
      ładniej i lepiej mieszkać jednak nie mają czasu lub pomysłu na zaplanowanie wnętrza.
    </p>
    <p class="metamorphosis-container_info-text">
      W ofercie metamorfozy wnętrz znajdziesz usługi aranżacji wnętrz, home stagingu i/lub remontu.
    </p>
  </div>
  <div class="metamorphosis-container_image right-slide"></div>
</div>
