<div class="metamorphosis-container flex-column bg-color-grey">
  <h3 class="metamorphosis-container_title margin">Etapy Metamorfozy Wnętrz</h3>
  <div class="metamorphosis-container_info-container space-between margin">
    <div class="metamorphosis-container_info-section">
      <object
        data="../images/decluttering_page/edit_note_black_24dp.svg"
        width="200"
        height="200"
        class="metamorphosis-container_info-section icon"
      ></object>
      <p>Krok 1: Konsultacja</p>
    </div>
    <div class="metamorphosis-container_info-section">
      <p class="metamorphosis-container_info-text">
        W odpowiedzi na zapytanie, wysyłam prośbę o wysłanie formularza. Proszę o jego skrupulatne
        wypełnienie, ponieważ to na jego podstawie dobieram indywidualne rozwiązania i dobieram
        odpowiedni plan działania. W tym miejscu potrzebuję również od Klientów m.in. rzut
        pomieszczenia / mieszkania / domu, zdjęcia wnętrza.
      </p>
    </div>
  </div>

  <div class="metamorphosis-container_info-container space-between margin">
    <div class="metamorphosis-container_info-section">
      <p class="metamorphosis-container_info-text">
        Po odesłaniu formularza i zgromadzenia materiału przeprowadzam wizję lokalną. Poznaję
        przestrzeń, która wymaga metamorfozy, omawiamy odpowiedzi z formularza, dokonuję niezbędnych
        pomiarów.
      </p>
      <p class="metamorphosis-container_info-text">
        Po spotkaniu otrzymujesz ode mnie raport podsumowujący nasze ustalenia, szczegółową ofertę
        metamorfozy z wyszczególnieniem poszczególnych etapów realizacji, przygotowuję listę zakupów
        potrzebnych do wyposażenia organizacyjnego.
      </p>
      <p class="metamorphosis-container_info-text">
        W tym miejscu podejmujesz dalej decyzję czy przedstawione propozycje wdrożysz samodzielnie
        czy zdecydujesz się na dalszą współpracę na podstawie przygotowanej szczegółowej oferty
        przygotowanej po spotkaniu konsultacyjnym
      </p>
    </div>
    <div class="metamorphosis-container_info-section text-center">
      <object
        data="../images/decluttering_page/task_alt_black_24dp.svg"
        width="200"
        height="200"
        class="metamorphosis-container_info-section icon"
      ></object>
      <p>KROK 2: Wizja lokalna</p>
    </div>
  </div>
</div>
