<div class="metamorphosis-container">
  <table class="metamorphosis-container_table">
    <tr class="metamorphosis-container_table-row">
      <th class="metamorphosis-container_table-cell cell-1">Konsultacja</th>
      <th class="metamorphosis-container_table-cell cell-2">Metamorfoza wnętrza</th>
    </tr>
    <tr class="metamorphosis-container_table-row">
      <td class="metamorphosis-container_table-cell cell-3">
        1500 PLN*w przypadku podjęcia dalszej współpracy na usługi metamorfozy, kwota konsultacji
        zostaje wliczona w kwotę usługi. Metamorfoza
      </td>
      <td class="metamorphosis-container_table-cell cell-4">Cena ustalana indywidualnie</td>
    </tr>
  </table>
</div>
