<div class="contact-container">
  <div class="contact-container_info-container left-slide">
    <div class="contact-container_info-contact">
      <p>Połącz kropki studio sp. z o.o.</p>
      <div class="contact-container_info">
        <div class="contact-container_info-wrap">
          <div class="contact-container_info-icon phone"></div>
        </div>
        <p>(+48) 694 033 028</p>
      </div>
      <div class="contact-container_info">
        <div class="contact-container_info-wrap">
          <div class="contact-container_info-icon contact-email-icon"></div>
        </div>
        <p>polaczkropkibiuro@gmail.com</p>
      </div>
    </div>
    <div class="contact-container_info-form">
      <p class="contact-container_info-title">Formularz kontaktowy:</p>
      <form class="form">
        <div class="form_element-container">
          <p class="form_element-label">Imię</p>
          <input
            name="user_name"
            type="text"
            class="form-control form-input-name"
            placeholder="Jakub"
          />
        </div>
        <div class="form_element-container">
          <p class="form_element-label">Email</p>
          <input
            name="user_email"
            type="text"
            class="form-control form-input-email"
            placeholder="example@email.com"
          />
        </div>
        <div class="form_element-container">
          <p class="form_element-label">Temat</p>
          <input
            name="user_topic"
            type="text"
            class="form-control form-input-topic"
            placeholder="Zamówienie declutteringu"
          />
        </div>
        <div class="form_element-container">
          <p class="form_element-label">Treść wiadomości</p>
          <textarea name="user_description" class="form-control form-input-message" rows="4" />
        </div>
        <button class="contact-container_button form-btn" type="submit">Wyślij wiadomość</button>
      </form>
    </div>
  </div>
  <div class="contact-container_image right-slide"></div>
  <script type="text/javascript" src="/js/handle-submit.js"></script>
</div>
